<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IPL API</title>
</head>
<body style="background-color: black;color: #f0f0f0; font-family: 'Courier New', Courier, monospace; text-align: center;">
    
    <h1>IPL API</h1>
    <h3>This is an API for ipl matches dataset</h3>
    
    <ul style="list-style: none;">
        <li>API-1: All teams name (/api/teams)</li><br>
        <li>API-2: Team Vs Team record (/api/teamVsTeam?team1='team1_name'&team2='team2_name')</li><br>
        <li>API-3: Overall Team record (/api/team-record-overall?team='team_name')</li><br>
        <li>API-4: Team record against each team (/api/team-record-against-each-team?team='team_name')</li><br>
        <li>API-5: Overall batter record (/api/batter-record?batter='batter_name')</li><br>
    </ul>
</body>
</html>